<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee ;" id="WebApp_ID" version="4.0">
  <display-name>practica_1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>org.iesalixar.servidor.controller.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReservarServlet</servlet-name>
    <servlet-class>org.iesalixar.servidor.controller.ReservarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservarServlet</servlet-name>
    <url-pattern>/reservar</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmarServlet</servlet-name>
    <servlet-class>org.iesalixar.servidor.controller.ConfirmarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmarServlet</servlet-name>
    <url-pattern>/confirmar</url-pattern>
  </servlet-mapping>
</web-app>